.ProductsNav {
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  gap: 20px;
}
.ProductsNav  button {
  background-color: blueviolet;
  padding: 5px 10px;
  margin: 0px 5px;
  color: white;
  border-radius: 10px;
}
